<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/main.css">
  <title>Document</title>
</head>

<body>
  <div>
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </div>

  <div class="main-div">
   
  </div>

  <div>
    <div class="big-block">
      <img src="./img/1.png" alt="2">
      <h4>Sphynx Anime</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, praesentium aliquid mollitia fuga quo
        officia et tempora soluta fugiat odio animi nam recusandae laudantium esse nobis, illum sint dicta possimus.</p>
        <a href="/nature" style="padding:5px;text-decoration:none;color:white">Read more</a>

      </div>
    
  </div>


  <footer>
    <div class="footer-div">
      <p>Adress </p>Skopje MK    
    </div>
    <div class="footer-div">
      <p>Job </p>Developer
    </div>
    <div class="footer-div">
      <p>Language </p>Node.js
    </div>
  </footer>
</body>

</html>